{% extends "_base.html" %}
{% block content %}
  <!-- Container - Body of page-->
  <div class="main-body">
    <div class="container">
      <div class="col-12 py-md-5 bd-content">
	<h4 class="">Benvenuto in Nome Organizzazione Spid Discovery Service</h4>
	<p>
	  <b>SPID</b> è il sistema di accesso che consente di utilizzare, con un'identità digitale unica, i servizi online della Pubblica Amministrazione e dei privati accreditati.
	  Se sei già in possesso di un'identità digitale, accedi con le credenziali del tuo gestore.
	  Se non hai ancora una identità SPID richiedila ad uno dei gestori.
	</p>
	<p class="mb-lg-5">
	<b>eIDAS</b> è il sistema di interoperabilità delle identità digitale europeo. Tramite eIDAS puoi accedere utilizzando il sistema di identità digitale degli altri paesi europei.
	</p>

	<p>
	  Seleziona il Provider di Identità presso il quale desideri autenticarti
	</p>

	<div class="card-wrapper card-space">
	  <div class="card card-bg no-after">
	    <div class="card-body">
	      <div class="row">
		<!--
		  <div class="col-sm text-center">
		      <a href="#" id="unicalid" data-idp="unicalid" data-entityid="https://example.org/idp/metadata/" class="button-spid button-unical italia-it-button italia-it-button-size-xl spid-idp-button-xlarge-post" aria-haspopup="true" aria-expanded="false">
			  <span class="italia-it-button-icon">
			      <img src="spid/logo_white.png" alt="logo">
			  </span>
			  <span class="italia-it-button-text">Altro</span>
		      </a>
		  </div>
		  -->
		<div class="col-lg-6 pb-2 text-center">
		  <!-- AGID - SPID IDP BUTTON SMALL "ENTRA CON SPID" * begin * -->
		  <a href="#" class="italia-it-button italia-it-button-size-xl button-spid" spid-idp-button="#spid-idp-button-xlarge-post" aria-haspopup="true" aria-expanded="false">
		    <span class="italia-it-button-icon"><img src="spid/spid-ico-circle-bb.svg" onerror="this.src='img/spid-ico-circle-bb.png'; this.onerror=null;" alt=""></span>
		    <span class="italia-it-button-text">Entra con SPID</span>
		  </a>
		  <div id="spid-idp-button-xlarge-post" class="spid-idp-button spid-idp-button-tip spid-idp-button-relative">
		    <ul id="spid-idp-list-medium-root-get" class="spid-idp-button-menu" aria-label="spid idp list">
		      <li class="spid-idp-support-link"><a href="https://www.spid.gov.it/">Maggiori informazioni</a></li>
		      <li class="spid-idp-support-link"><a href="https://www.spid.gov.it/richiedi-spid">Non hai SPID?</a></li>
		      <li class="spid-idp-support-link"><a href="https://www.spid.gov.it/serve-aiuto">Serve aiuto?</a></li>
		    </ul>
		  </div>
		  <!-- AGID - SPID IDP BUTTON SMALL "ENTRA CON SPID" * end * -->
		  <br/>
		</div>
		<div class="col-lg-6 text-center">
		  <!-- AGID - eIDAS IDP BUTTON SMALL "ENTRA CON SPID" * begin * -->
		  <a href="/Saml2/disco?entityID=https://sp-proxy.eid.gov.it/spproxy/idpit&return=https://sso.isprambiente.it/Saml2/disco" class="italia-it-button italia-it-button-size-xl button-eidas" eidas-idp-button="#eidas-idp-button-xlarge-post" aria-haspopup="false" aria-expanded="false">
		    <span class="italia-it-button-icon"><img src="eidas/img/ficep-it-eidas-ybw.svg" onerror="this.src='eidas/img/ficep-it-eidas-ybw.png'; this.onerror=null;" alt="" /></span>
		    <span class="italia-it-button-text">Login with eIDAS</span>
		  </a>
		  <!-- AGID - eIDAS IDP BUTTON SMALL "ENTRA CON eIDAS" * end * -->
		</div>

	      </div>
	    </div>
	  </div>
	</div>
	<p class="text-center"><img src="spid/spid-agid-logo-lb.png" alt="logo SPID e AGID"></p>
      </div>
    </div>
  </div>
{% endblock %}
